@use "./colors" as c;
@use "./mixins" as m;

header {
  @include m.flex(flex, column, nowrap, space-evenly, "");
  height: 20em;

  .title {
    background-color: map-get(c.$colors, "darkest");
    color: #ffffff;
    letter-spacing: 1px;
    padding: 2em 3em;
    border-radius: 5px;

    @include m.mv() {
      text-align: center;
      font-size: 1.35em;
    }
  }

  .task-form {
    @include m.flex(flex, row, nowrap, space-between, "center");

    &__input {
      width: 80%;
      height: 90%;
      padding: 0.4em;
      font-size: 1.3em;
      border: 2px solid black;
      border-radius: 5px;
      background-color: map-get(c.$colors, "darkest");
      color: #ffffff;

      @include m.mv() {
        font-size: 1em;
      }
    }
    &__submit {
      font-size: 3em;
      background-image: linear-gradient(
        to right,
        map-get(c.$colors, "pink"),
        map-get(c.$colors, "purple")
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      cursor: pointer;
      transition: 0.4s;
      &:hover {
        opacity: 0.7;
      }
      &:active {
        opacity: 0.3;
      }
    }
  }
}
