@use "./header";
@use "./btns-task";
@use "./mixins" as m;
@use "./colors" as c;
@use "./list-tasks";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  @include m.flex(flex, column, nowrap, start, center);
  font-family: sans-serif;
  background-color: map-get(c.$colors, "dark");
  color: map-get(c.$colors, "light");
}
.wrap {
  @include m.mv() {
    width: 90%;
  }
}
