@use "./colors" as c;
@use "./mixins" as m;

.task-list {
  @include m.flex(flex, column, nowrap, "", "");
  text-align: center;

  &__title {
    margin-bottom: 1em;
  }
  &__tasks {
    border-radius: 5px;
    background-color: map-get(c.$colors, "darkest");
    margin-bottom: 0.5em;
  }

  &__container-input {
    font-size: 2em;
    @include m.flex(flex, row, nowrap, "", center);
  }
  &__input {
    color: map-get(c.$colors, "light");
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: map-get(c.$colors, "darkest");
    font-size: 0.75em;
    padding: 0.5em 0.8em;
    width: 75%;

    @include m.mv() {
      font-size: 0.5em;
      padding: 1em 0.8em;
    }

    &:not(:read-only) {
      color: map-get(c.$colors, "pink");
    }
  }
  &__actions {
    display: flex;
  }
}
